name: Build

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: macOS
            os: macos-13
          - name: Linux
            os: ubuntu-22.04
          - name: Windows
            os: windows-2022

    steps:
    - name: Checkout aooserver
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Linux Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y libasound2-dev libjack-jackd2-dev \
            ladspa-sdk libcurl4-openssl-dev libfreetype6-dev \
            libx11-dev libxcomposite-dev libxcursor-dev libxcursor1 \
            libxext-dev libxinerama-dev libxrandr-dev libxrender-dev \
            libwebkit2gtk-4.0-dev libglu1-mesa-dev mesa-common-dev

    - name: Configure CMake
      shell: bash
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      shell: bash
      run: |
        cmake --build build --config Release

    - name: Upload Artifacts (Mac)
      if: runner.os == 'macOS'
      uses: actions/upload-artifact@v4
      with:
        name: aooserver-mac
        path: build/aooserver_artefacts/Release/aooserver

    - name: Upload Artifacts (Linux)
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v4
      with:
        name: aooserver-linux
        path: build/aooserver_artefacts/Release/aooserver

    - name: Upload Artifacts (Windows)
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: aooserver-win
        path: build/aooserver_artefacts/Release/aooserver.exe
